@import url("https://fonts.googleapis.com/css2?family=Agu+Display&family=Delius+Swash+Caps&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+NL+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Vinyl&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 0;
  padding: 0;
}

html {
  font-family: "Lora", serif;
}

main {
  padding: 1rem;
}

.view-1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
}
.view-1 .top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.view-1 .top h1 {
  font-size: 3rem;
}
.view-1 .top h1 span {
  opacity: 0.5;
}
.view-1 .top p {
  font-size: 1.4rem;
}
.view-1 .bottom {
  width: 100%;
  aspect-ratio: 1/1;
  max-height: 20rem;
}
.view-1 .bottom .images {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "a a b b" "a a b b" "a a b b" "a a b b" "a a b b" "a a b b " "a a c c" "a a c c";
  gap: 1rem;
}
.view-1 .bottom .images img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}
.view-1 .bottom .images div {
  height: 100%;
  width: 100%;
}
.view-1 .bottom .images .img-a {
  grid-area: a;
}
.view-1 .bottom .images .img-b {
  grid-area: b;
  aspect-ratio: 3/4;
}
.view-1 .bottom .images .img-c {
  grid-area: c;
  aspect-ratio: 16/9;
}

.view-3 {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* Hide scrollbar for a clean look */
}
.view-3 .img-container {
  overflow: hidden;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  padding-bottom: 10px; /* Adds space for scrolling */
}
.view-3 .img-container img {
  flex: 0 0 auto;
  width: 300px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  scroll-snap-align: start;
}
.view-3 .img-container::-webkit-scrollbar {
  height: 5px;
}
.view-3 .img-container::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}
.view-3 h1 {
  font-size: clamp(2rem, 8vw, 3rem);
}

.view-4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.view-4 h1 {
  font-size: clamp(2rem, 8vw, 3rem);
}
.view-4 .image {
  display: flex;
  flex-direction: column;
  border-radius: 1.4rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 22rem;
  background: transparent;
  opacity: 0.8;
}
.view-4 .image h2 {
  font-size: clamp(2rem, 8vw, 3rem);
  padding-left: 1rem;
}
.view-4 .image p {
  font-size: clamp(1rem, 4vw, 2rem);
  opacity: 0.7;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
.view-4 .image .img-3 {
  aspect-ratio: 3/4;
  padding: 1rem;
  border-radius: 1.4rem;
}

@media (min-width: 1020px) {
  main {
    padding: 3rem;
    gap: 3rem;
  }
  .view-1 {
    flex-direction: row;
  }
  .view-1 .top {
    width: 50%;
  }
  .view-1 .top h1 {
    font-size: clamp(3rem, 8vw, 6rem);
  }
  .view-1 .top p {
    font-size: clamp(1.4rem, 2vw, 2rem);
  }
  .view-1 .bottom {
    width: 50%;
  }
  .view-1 .bottom .images {
    max-width: 40rem;
    grid-template-areas: ". . b b" "a a b b" "a a b b" "a a b b" "a a b b" "a a b b " "a a c c" ". . c c";
  }
  .view-1 .bottom .img-a {
    max-width: min(20rem, 100%);
    aspect-ratio: 4/6;
  }
  .view-1 .bottom .img-b {
    max-width: 20rem;
    aspect-ratio: 3/4;
  }
  .view-1 .bottom .img-c {
    max-width: 20rem;
    aspect-ratio: 1/1;
  }
  .view-3 {
    padding-top: 10rem;
  }
  .view-3 h1 {
    font-size: clamp(3rem, 8vw, 4rem);
  }
}/*# sourceMappingURL=style.css.map */